<table class="table table-hover mt-2">
  <thead>
    <tr class="table-primary">
      <th>ID</th>
      <th>Name</th>
      <th>Image</th>
      <th>Av. Quantity</th>
      <th>Price in USD</th>
      <th>Price in EGP</th>
      <th>Count</th>
      <th>Buy</th>
     </tr>
  </thead>
  <tbody>
      <tr *ngFor="let product of productListFilteration; let i = index;" [class]="product.quantity!=0 ? setClassInfo: setClassWarning">
        <td>{{i+1}}</td>
        <td>{{product?.name}}</td>
        <td><img LightBox mouseOverColor="green" mouseOutColor="yellow" defaultColor="black" [src]="product?.imageURL" alt="Product Image"></td>
        <td>{{product?.quantity}}</td>
        <td>{{product?.price | currency: 'EUR': 'code'}}</td>
        <td>{{product?.price  | USDtoEGP: 10 | currency: 'EGP': 'code'}}</td>
        <td><input #itemsCount type="number" class="form-control"></td>
        <td><button (click)="buying(product.price, itemsCount.value)">Buy</button></td>
      </tr>
  </tbody>
</table>
